* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Heebo";
}

body {
    overflow-x: hidden;
}

@font-face {
    font-family: "Heebo";
    src: url("../../fonts/Heebo-VariableFont_wght.ttf");
}